<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_effects_root"
        name="Cartera de efectos"
        parent="account.menu_finance"
        sequence="80"
        groups="account.group_account_user"
    />

    <menuitem
        id="menu_customer_effects"
        name="Efectos de clientes"
        parent="menu_effects_root"
        action="action_customer_effects"
        sequence="10"
        groups="account.group_account_user"
    />

    <menuitem
        id="menu_supplier_effects"
        name="Efectos de proveedores"
        parent="menu_effects_root"
        action="action_supplier_effects"
        sequence="20"
        groups="account.group_account_user"
    />

    <menuitem
        id="menu_effect_groups"
        name="Agrupaciones"
        parent="menu_effects_root"
        action="action_effect_groups"
        sequence="30"
        groups="account.group_account_user"
    />

    <menuitem
        id="menu_effect_remittances"
        name="Remesas"
        parent="menu_effects_root"
        action="action_effect_remittances"
        sequence="40"
        groups="account.group_account_user"
    />
</odoo>
